.CodeMirror{height: auto;border: 1px solid #E0E0E0;width: 100% }
      /*.CodeMirror-empty { outline: 1px solid #c22; }*/
      /*.CodeMirror-empty.CodeMirror-focused { outline: none; }*/
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
.md-tab-content{-webkit-user-select: text !important}
md-radio-button{float: left;}

 md-input-group.long > input {
width: 100%;
}
 md-input-group.long{
width: 100%;
}

 md-input-group.middle > input {
  width: 300px;
}

.postdata-textarea-container .CodeMirror-scroll{height: 200px;}

select {
width: 220px;
border: 1px solid #cccccc;
background-color: #ffffff;
height: 28px;
line-height: 28px;
color: #555;
}

md-tab {width: 20%
}