<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="angular-material.css">
  <link rel="stylesheet" href="md.css">
  <script src="angular.js"></script>
  <script src="angular-animate.js"></script>
  <script src="angular-route.js"></script>
  <script src="angular-aria.js"></script>
  <script src="angular-material.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
</head>
<body>
  <div ng-controller="AppCtrl" layout="column" layout-fill>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <p hide show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>
      </md-sidenav>
      <md-content flex class="md-padding">
        <div layout="column" layout-fill layout-align="center center">
          <p>
          The left sidenav will 'lock open' on a medium (>=960px wide) device.
          </p>
          <div>
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
              Toggle left
            </md-button>
          </div>
          <div>
            <md-button ng-click="toggleRight()" class="md-primary">
              Toggle right
            </md-button>
          </div>
        </div>
      </md-content>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" class="md-padding">
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>
    </section>
  </div>
  
  <script>
angular.module('app', ['ngMaterial', 'ngAnimate'])
  .controller('AppCtrl', function($scope, $timeout, $mdSidenav) {
  $scope.toggleLeft = function() {
    $mdSidenav('left').toggle();
  };
  $scope.toggleRight = function() {
    $mdSidenav('right').toggle();
  };
})
.controller('LeftCtrl', function($scope, $timeout, $mdSidenav) {
  $scope.close = function() {
    $mdSidenav('left').close();
  };
})
.controller('RightCtrl', function($scope, $timeout, $mdSidenav) {
  $scope.close = function() {
    $mdSidenav('right').close();
  };
});
  </script>
</body>
</html>