<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="angular-material.css">
  <link rel="stylesheet" href="md.css">
  <link rel="stylesheet" href="bower_components/rainbow/themes/github.css">
  <script src="angular.js"></script>
  <script src="angular-animate.js"></script>
  <script src="angular-route.js"></script>
  <script src="angular-aria.js"></script>
  <script src="angular-material.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
</head>
<body>
  <div ng-controller="AppCtrl" layout="column" layout-fill>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">YT-POSTMAN</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close
          </md-button>
          <h2>History</h2>
          <div ng-repeat="item in histories">

            <button class="menu-item menu-title md-menu-item"
              ng-click="menu.toggleSelectSection(section)"
              md-ink-ripple="#bbb">
              {{item.url}}
            </button>


          </div>
        </md-content>
      </md-sidenav>
      <md-content flex class="md-padding">
        <div layout-fill layout-align="center center" ng-controller="RightCtrl">
          <md-content>
            <form style="padding: 20px;">
              <div layout="row">
                <md-text-float label="Enter request URL here"  ng-model="request.url" flex="50" class="long"></md-text-float>
                <md-radio-group ng-model="request.method" flex>
                  <md-radio-button value="GET" aria-label="Label 1">GET</md-radio-button>
                  <md-radio-button value="POST"> POST </md-radio-button>
                </md-radio-group>
              </div>
              <div layout="row" ng-repeat="param in request.params">
                <md-text-float label="URL Parameter Key"  ng-model="param.key"  ></md-text-float>
                <md-text-float label="Value"  ng-model="param.value"  ></md-text-float>
              </div>
              <div layout="row" ng-repeat="header in request.headers">
                <md-text-float label="Header"  ng-model="header.key"  ></md-text-float>
                <md-text-float label="Value"  ng-model="header.value"  ></md-text-float>
              </div>
            </form>
          </md-content>
          <md-content>
            <form style="padding: 20px;">
              <md-button class="md-raised md-primary" ng-click="send()">Send</md-button>
            </form>
          </md-content>
          <hr />
          <md-content>
            <md-tabs md-selected="selectedIndex">
              <md-tab label="Body">
                <pre>
                  <code data-language="html" rainbow>
{{responseBody}}
                  </code>
                </pre>
              </md-tab>
              <md-tab label="raw">
                <pre>
{{responseRaw}}
                </pre>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </md-content>
      
    </section>
  </div>
  <script src="bower_components/rainbow/js/rainbow.min.js"></script>
  <script src="bower_components/rainbow/js/language/javascript.js"></script>
  <script src="bower_components/rainbow/js/language/generic.js"></script>
  <script src="bower_components/rainbow/js/language/html.js"></script>
  <script src="bower_components/rainbow/js/language/css.js"></script>
  <script src="vkbeautify.js"></script>
  
  <script>
angular.module('app', ['ngMaterial', 'ngAnimate'])
  .controller('AppCtrl', function($scope, $timeout, $mdSidenav) {
  $scope.toggleLeft = function() {
    $mdSidenav('left').toggle();
  };
  $scope.toggleRight = function() {
    $mdSidenav('right').toggle();
  };
})
.controller('LeftCtrl', function($scope, $timeout, $mdSidenav) {
  $scope.histories = [{
    url: 'http://baidu.com'
  }]
  $scope.close = function() {
    $mdSidenav('left').close();
  };
})
.controller('RightCtrl', function($scope, $timeout, $mdSidenav, $http) {
  var lastOneFill = function (newValue, oldValue) {
    if (newValue && newValue !== oldValue) {
      if (newValue[newValue.length - 1].key || newValue[newValue.length - 1].value) {
        newValue.push({});
      }
    }
  };
  var generateQueryString = function (params) {
    var result = [];
    for (var i = 0; i < params.length; i++) {
      var item = '';
      if (params[i].key) {
        item = params[i].key + '=';
      }
      if (item && params[i].value) {
        item = item + params[i].value;
      }
      if (item) {
        result.push(item);
      }
    }
    return result.join('&');
  };
  $scope.$watch('request.params', function (newValue, oldValue) {
    lastOneFill(newValue, oldValue);
    if (newValue && newValue !== oldValue) {
      var parse_url = /^(?:([A-Za-z]+):)?(\/{0,3})([0-9.\-A-Za-z]+)(?::(\d+))?(?:\/([^?#]*))?(?:\?([^#]*))?(?:#(.*))?$/;
      var url = $scope.request.url.replace(parse_url, function (match, capture) {
        var capture = [].slice.call(arguments, 0);
        var url = '';
        if (capture[1] && capture[2]) {
          url += capture[1] + ':' + capture[2];// http://
        }
        url += capture[3];// http://www.baidu.com
        if (capture[4]) {
          url += ':' + capture[4]; //http://www.baidu.com:80
        }
        if (capture[5]) {
          url += '/' + capture[5]; //http://www.baidu.com/path/path
        }
        if (generateQueryString(newValue)) {
          url += '?' + generateQueryString(newValue);// http://www.baidu.com/path?pa=1
        }
        if (capture[7]) {
          url += '#' + capture[7];
        }
        return url;
      });
      $scope.request.url = url;
    }
  }, true);
  $scope.$watch('request.headers', lastOneFill, true);
  $scope.request = {
     params:     [{}],
     headers:     [{}],
     url: 'm.baidu.com',
     method: 'GET'
  };
  $scope.send = function () {
    var requestOptions = angular.copy($scope.request);
    //automatically add http protocol if not defined
    if (!/^[\w]{1,4}:\/\//.test(requestOptions.url)) {
      requestOptions.url = 'http://' + requestOptions.url;
    }
    
    //filter uncompleted header
    var headers = {};
    for (var i = 0; i < requestOptions.headers.length; i++) {
      if (requestOptions.headers[i].key && requestOptions.headers[i].value) {
        headers[requestOptions.headers[i].key]  = requestOptions.headers[i].value;
      }
    }
    requestOptions.headers = headers;
    //make request now!
    $http.post('makeRequest', angular.toJson(requestOptions)).success(function (data, status, headers, config) {
      console.log(data);
      // $scope.responseBody = data.body;
      $scope.responseBody = vkbeautify.xml(data.body);
      $scope.responseRaw = data.body;

    });
    // $http.get('/post', {
    //   params: {
    //     url: 'angularjs.cn',
    //     path: '/A003',
    //     port: 80
    //   }
    // }).success(function (data, status, headers, config) {
    //   console.log(data);
    //   $scope.responseData = data;
    // })
  };
})
.directive('rainbow', ['$timeout', function ($timeout) {
  return {
    restrict: 'A',
    link: function ($scope, element, attrs) {
      // $timeout(function () {
        $scope.$watch('responseBody', function (newValue, oldValue) {
          if (newValue && newValue !== oldValue) {
            Rainbow.color(newValue, 'javascript', function(highlighted_code) {
              element.html(highlighted_code);
            });
          }
        })
        
      // });
    }
  };
}])
  </script>
</body>
</html>